.App{
  display:flex;
  flex-direction: column;
}

.Header{
  font: 1.3rem Inconsolata, monospace;
  color: white;
  background-color: black;
  padding: 1%;
}

.black{
  background-color: black;
}

.white{
  background-color: beige;
}

.cube{
  outline: black;
  width: 25px;
  height: 25px;
}

.row{display: flex;}